{% extends '_base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="container mt-5 mb-5">
        <div class="jumbotron">
            <h1 class="d-flex justify-content-center">Home</h1>
            <img class="img-fluid" src="{% static 'images/python_logo.png' %}">
        </div>
    </div>

    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>

</div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
{% endblock %}