{% extends '_base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="container mt-5 mb-5">
        <div class="jumbotron">
            <h1 class="d-flex justify-content-center">Home</h1>
        </div>
    </div>

    {% if user.is_authenticated %}
    Hi {{user.email}}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <p>NOT LOGGED IN</p>
    <a href="{% url 'login' %}">log in</a>
    {% endif %}

</div>



{% endblock content %}


{% block scripts %}
  {{ block.super }} 
{% endblock %}




