{% extends '_base.html' %}

{% load static %}

{% block title %}
    {{ book.title }}
{% endblock title %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="container mt-5 mb-5">
        <div class="jumbotron">
            <h1 class="d-flex justify-content-center">Book Detail</h1>
        </div>
    </div>

    <div>
        <div class="book-detail">
            <h2><a href="">{{ book.title }}</a></h2>
            <p>Author: {{ book.author }}</p>
            <p>Price: {{ book.price }}</p>
        </div>
    </div>
    
</div>



{% endblock content %}


{% block scripts %}
  {{ block.super }} 
{% endblock %}




